.card {
  width: 17.875rem;
  height: 24.563rem;
  background: #eff9ff;
  box-shadow: 0.063rem 0.188rem 0.313rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.card:hover {
  transform: translateY(-1em);
}
.card-img {
  height: 11.563rem;
  width: 17.813rem;
  border-radius: 1.25rem 1.25rem 0 0;
}
.card-text {
  width: 15.625rem;
  height: 3.125rem;
  font-weight: normal;
  font-size: 1.875rem;
  text-align: center;
}
.card-title {
  margin: 0.5em 1em;
}
.card-price {
  color: #438fc4;
}
.card-discount {
  color: #57a059;
}
.card-price,
.card-discount {
  text-align: left;
}
