footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em 1em;
  background: #dff1fd;
}
.foot-item {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.2em;
}
.foot-center {
  font-weight: normal;
  font-size: 25px;
}
.foot-left,
.foot-right {
  position: relative;
  cursor: pointer;
}

.foot-left {
  right: 25em;
  text-transform: capitalize;
}
.foot-right {
  left: 23em;
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}
