nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100vw;
  padding: 0.2em 1em;
  background: #dff1fd;
  box-shadow: 0px 0.25rem 1.25rem rgba(0, 0, 0, 0.25);
}
.nav-item {
  margin: 0 4.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav-item:hover {
  filter: brightness(155%);
}
.logo {
  width: 4.188rem;
  height: 4.188rem;
}
.nav-icon {
  height: 1.875rem;
  width: 1.875rem;
}
.nav-item-links img {
  display: none;
}
.nav-link {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.25rem;
}
.nav-search-from {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  width: 21.25rem;
  height: 1.875rem;
  border-radius: 1.25rem 0 0 1.25rem;
}
.nav-search-from input[type="text"] {
  background: #fff;
  border: none;
  text-align: center;
}
.nav-search-from input[type="text"]:focus-visible {
  border: none;
}

.search-btn,
.search-submit {
  height: 1.25rem;
  width: 1.25rem;
}

.search-btn {
  height: 1.875rem;
  width: 2.5rem;
  border: none;
  background: #fff;
  transition: all 0.5s ease-in-out;
  border-radius: 0 1.25rem 1.25rem 0;
  cursor: pointer;
}
.search-btn:hover {
  filter: brightness(50%);
}
