@import url("./Home/top.css");
@import url("./Home/features.css");
@import url("./Home/authors.css");
@import url("./Home/genres.css");
@import url("./Home/help.css");
@import url("./Home/me.css");
@import url("./Home/cards.css");
@import url("./Card/card.css");
/* home containers css */
.home-con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 2em;
  user-select: none;
  justify-content: center;
  align-items: center;
}
